body {
    font-family: Helvetica Neue, Arial, sans-serif;
    text-align: center;
    overflow: auto;
    background-image: linear-gradient(rgba(0, 0, 0, 0.1),rgba(0, 0, 0, 0.1)),url(img/GeoExperience_bg-01.png);
    /*background-image: url(img/GeoExperience_bg-01.png);*/
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.wrapper {
    max-width: 800px;
    margin: 50px auto;
}

h1 {
    font-weight: 200;
    font-size: 3em;
    margin: 0 0 0.1em 0;
    
}

h2{
  font-weight: 100;
    font-size: 1em;
    margin: 0 0 0.1em 0;  
}



.title-line a img{
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    line-height: 0;
    position: relative;
    max-width: 50%;
}


.webpage{
   margin-top: 25px;
    
}
.webpage div{
    width: 20% !important;
    margin-left: 25px;
    display: inline-block;
}

.webpage >div{
    /*display: inline-block;*/
    /*border: 2px solid #F6303E;*/
    width: 20%;
    margin-right: 25px;
    margin-bottom: 25px;
}

.webpage img {    
    height: 150px;
    display: inline-block;
    float: left;
    width: 100%;
    object-fit: contain; 
}

.webpage p{
    background-color:transparent;/*#F6303E*/
    color: black;    
    /*padding: 25px 36px;*/
    padding-top: 175px;
    padding-bottom: 5px;    
    display:block;
    text-align: center;
    text-decoration: none;    
    font-size: 16px;        
}


